<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Explore Pose Embeddings</h1>
    <form method='POST' enctype='multipart/form-data'>
        {{ form.csrf_token }}
        <div>
            {{ form.file.label }} {{ form.file }}
        </div>
        <div>
            {{ form.video.label }} {{ form.video }}
        </div>
        {{ form.submit }}
    </form>
    <div id="graph" style="width:100%;height:500px;"></div>
    <div id="plot-info"></div>
    
    <script type="text/javascript">
            var graph = {{graphJSON | safe}};
            Plotly.newPlot('graph', graph,{});

            var plotDiv = document.getElementById('graph');
        plotDiv.on('plotly_click', function(data) {
            var clickInfo = data.points.map(function(point) {
                return {
                    'x': point.x,
                    'y': point.y,
                    'data': point.data
                };
            });

            var infoDiv = document.getElementById('plot-info');
            infoDiv.innerHTML = '';

            clickInfo.forEach(function(info) {
                var infoElement = document.createElement('p');
                infoElement.textContent = 'x: ' + info.x + ', y: ' + info.y + ', data: ' + JSON.stringify(info.data);
                infoDiv.appendChild(infoElement);
            });
        });
    </script>
</body>
</html>